REACT_APP_VERSION = "v0.1.0"
REACT_APP_CLEARANCE_NUMBER = "CL#NN-NNNN"
REACT_APP_LAST_UPDATED = "October 23, 2024"

PUBLIC_URL = "/atlas"

REACT_APP_DOMAIN = "https://pds-imaging.jpl.nasa.gov/api"
REACT_APP_APP_INSTANCE=atlas

GENERATE_SOURCEMAP = "false"