#openSeadragon .navigator {
    margin: 0px 8px 8px 0px !important;
    border: 1px solid #b4bcc5 !important;
}
#openSeadragon .navigator .displayregion {
    border: 2px solid #fb8c00 !important;
}
#openSeadragon .openseadragon-canvas {
    outline: none !important;
}
